<mat-card class="example-card" style="margin-bottom: 18px">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title
      ><a
        class="nav-link"
        [routerLink]="['/book', itemBook.bookId]"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Tên sách: {{ itemBook.title }}
      </a>
    </mat-card-title>
    <mat-card-subtitle style="margin-bottom: 8px"
      >Tác giả: {{ itemBook.author }}</mat-card-subtitle
    >
  </mat-card-header>
  <img
    mat-card-image
    style="height: 300px; object-fit: cover"
    [src]="itemBook.imageUrl"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p
      style="
        height: 48px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 0;
      "
    >
      <strong>Mô tả:</strong>  {{ itemBook.description }}
    </p>
    <p> <strong>Giá tiền:</strong> {{ itemBook.price }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="handleOrder()">
      Thêm vào giỏ hàng
    </button>
  </mat-card-actions>
</mat-card>
