.row-header-wrapper{
    justify-content: center;
}
.row-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
nav a{
    color: white;
    font-size: 18px;
}