<app-default-layout>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p style="margin-top:  30px;">Quản lý đơn hàng của bạn</p>
        <table mat-table [dataSource]="orderList">
          <!-- Username Column -->
          <ng-container matColumnDef="id" sticky>
            <th mat-header-cell *matHeaderCellDef>Mã đơn hàng</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="totalPrice" sticky>
            <th mat-header-cell *matHeaderCellDef>Tổng tiền</th>
            <td mat-cell *matCellDef="let element">{{ element.totalPrice  |  currency:'VND'}}</td>
          </ng-container>

          <ng-container matColumnDef="action" sticky>
            <th mat-header-cell *matHeaderCellDef>Hành Động</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-flat-button
                color="primary"
                (click)="openOrderDetailPopup(element)"
              >
                Xem chi tiết
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</app-default-layout>
