<footer class="footer footer--primary">
  <div class="container">
    <div class="row">
      <!-- Về chúng tôi -->
      <div class="col-md-3">
        <h5 class="footer__title">Về Chúng Tôi</h5>
        <ul class="footer__list">
          <li><a href="#" class="footer__link">Giới thiệu</a></li>
          <li><a href="#" class="footer__link">Liên hệ</a></li>
          <li><a href="#" class="footer__link">Tuyển dụng</a></li>
        </ul>
      </div>
      <!-- Hỗ trợ khách hàng -->
      <div class="col-md-3">
        <h5 class="footer__title">Hỗ Trợ Khách Hàng</h5>
        <ul class="footer__list">
          <li><a href="#" class="footer__link">Câu hỏi thường gặp</a></li>
          <li><a href="#" class="footer__link">Chính sách vận chuyển</a></li>
          <li><a href="#" class="footer__link">Chính sách đổi trả</a></li>
        </ul>
      </div>
      <!-- Thể loại sách -->
      <div class="col-md-3">
        <h5 class="footer__title">Thể Loại Sách</h5>
        <ul class="footer__list">
          <li><a href="#" class="footer__link">Tiểu thuyết</a></li>
          <li><a href="#" class="footer__link">Phi hư cấu</a></li>
          <li><a href="#" class="footer__link">Sách thiếu nhi</a></li>
        </ul>
      </div>
      <!-- Kết nối với chúng tôi -->
      <div class="col-md-3">
        <h5 class="footer__title">Kết Nối Với Chúng Tôi</h5>
        <ul class="footer__list">
          <li><a href="#" class="footer__link">Facebook</a></li>
          <li><a href="#" class="footer__link">Instagram</a></li>
          <li><a href="#" class="footer__link">Đăng ký nhận tin</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
